/*–––––––––––––––––––––––––WHOLE PAGE–––––––––––––––––––––––––*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #85cdca;
    overflow-x: hidden;
    font-family: "Playfair Display", serif;
}
body, html {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    transform: translate3d(0, 0, 0);
}
/*–––––––––––––––––––––––––SETTING UP THE GRID–––––––––––––––––––––––––*/
.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
            "header"
            "content"
            "footer";
}
/*–––––––––––––––––––––––––GRID COMPONENT 1 - HEADER–––––––––––––––––––––––––*/
.header {
    grid-area: header;
}
/*Properties for Whole Nav Bar*/
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #85cdca;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}
/*Properties for Logo i.e. "Abhinav Sriram"*/
.logo {
    color: black;
    text-transform: uppercase;
    font-size: 40px;
    font-family: "Playfair Display", serif;
    letter-spacing: 2px;
}
.logo a {
    color: black;
    text-transform: none;
    text-decoration: none;
}
.logo a:hover {
    color: white;
    transition: ease-in 300ms;
}
/*Properties for the Nav Links*/
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
    font-size: 14px;
}
.nav-links li {
    list-style: none;
}
.nav-links a {
    color: black;
    text-decoration: none;
}
.nav-links a:hover {
    color: white;
    transition: ease-in 200ms;
}
/*Properties for Burger Drop Down Menu*/
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 4px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
}
/*–––––––––––––––––––––––––NOT USED–––––––––––––––––––––––––*/
/*–––––––––––––––––––––––––GRID COMPONENT 2 - CONTENT–––––––––––––––––––––––––*/
/*Styling for the Background of the Content Section*/
.content {
    display: flex;
    background-image: url("website.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 80vh;
    grid-area: content;
}
/*Styling for the Text of the Content Section*/
.contentText {
    font-family: "Playfair Display", serif;
    margin-top: 50px;
    margin-left: 12vw;
    width: 30%;
    font-size: 28px;
}
/*–––––––––––––––––––––––––GRID COMPONENT 3 - FOOTER–––––––––––––––––––––––––*/
.footer {
    grid-area: footer;
    justify-content: center;
    line-height: 90px;
    font-family: "Raleway", sans-serif;
}

/*Properties for Copyright Information*/
.name {
    color: black;
    float: left;
    padding-top: 8px;
    margin-left: 100px;
    font-size: 14px;
}
/*Properties for all Contact Information in the Footer*/
.contact {
    font-size: 14px;
    margin-right: 100px;
    color: black;
    float: right;
    padding-top: 8px;
}

.contact a {
    text-align: center;
    color: black;
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}

/*–––––––––––––––––––––––––CODE/CONSOLE "ABOUT ME" DESIGN–––––––––––––––––––––––––*/
/*Properties for the Lighter Part of the Design*/
.code {
    border-radius: 0;
    width:650px;
    margin: 0 auto;
    padding-top:14px;
    background: #696969;
    height: 670px;
    font-family: 'Monaco', monospace;
    text-align: left;
    font-size:13px;
    color: #85cdca;
}

/*Properties for the Darker Part of the Design*/
.console {
    width:650px;
    padding: 40px;
    height: 660px;
    margin:0 auto;
    background: #383737;
}

/*Properties for the Answers*/
span.answer {
    color: #cccccc;
}

/*Properties for the Links*/
#about a {
    color: #e27d60;
    text-decoration: none;
}

#about a:hover {
    text-decoration: underline;
    cursor: pointer;
}

#about {
    height: 710px;
    margin-top:5vh;
}

/*–––––––––––––––––––––––––MEDIA SCREEN ADAPTATION–––––––––––––––––––––––––*/
/*Adjustments to Ensure Content Does Not Overlap*/
@media screen and (max-width: 1024px) {
    .logo {
        margin-left: 0.25em;
    }
    .nav-links {
        display: flex;
        justify-content: space-around;
        width: 50%;
    }
}
/*Mobile Screen Adjustments*/
@media screen and (max-width: 768px) {
    body, html {
        overflow-x: hidden;
    }
    .logo {
        margin-left: 0.25em;
    }
    .nav-links{
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        background-color: #85cdca;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translateX(100%);
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
    /*Properties for the Lighter Part of the Design*/
    .code {
        border-radius: 0;
        width:95%;
        margin: 0 auto;
        padding-top:14px;
        background: #696969;
        height: 690px;
        font-family: 'Monaco', monospace;
        text-align: left;
        font-size:13px;
        color: #85cdca;
    }

    /*Properties for the Darker Part of the Design*/
    .console {
        width:100%;
        padding: 30px;
        height: 100%;
        margin:0 auto;
        background: #383737;
    }
    /*–––––––––––––––––––––––––NOT USED–––––––––––––––––––––––––*/
    .contentText {
        font-size: 20px;
        font-family: Playfair Display, serif;
        margin-top: 30px;
        margin-left: 12vw;
        min-width: 35%;
    }
    .content {
        background-size: cover;
        background: url("websiteMobile.png") no-repeat;
    }
}

/*–––––––––––––––––––––––––JAVASCRIPT REQUIREMENTS FOR ANIMATION OF BURGER MENU–––––––––––––––––––––––––*/
.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 8px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -8px);
}