/*–––––––––––––––––––––––––WHOLE PAGE–––––––––––––––––––––––––*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #fafafa;
    overflow-x: hidden;
    font-family: "Playfair Display", serif;
}
body, html {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    transform: translate3d(0, 0, 0);
}
/*–––––––––––––––––––––––––SETTING UP THE GRID–––––––––––––––––––––––––*/
.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
            "header"
            "content"
            "footer";
}
/*–––––––––––––––––––––––––GRID COMPONENT 1 - HEADER–––––––––––––––––––––––––*/
.header {
    grid-area: header;
}
/*Properties for Whole Nav Bar*/
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #fafafa;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}
/*Properties for Logo i.e. "Abhinav Sriram"*/
.logo {
    color: black;
    text-transform: uppercase;
    font-size: 40px;
    font-family: "Playfair Display", serif;
    letter-spacing: 2px;
}
.logo a {
    color: black;
    text-transform: none;
    text-decoration: none;
}
.logo a:hover {
    color: #686868;
    transition: ease-in 300ms;
}
/*Properties for the Nav Links*/
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
    font-size: 14px;
}
.nav-links li {
    list-style: none;
}
.nav-links a {
    color: #686868;
    text-decoration: none;
}
.nav-links a:hover {
    color: black;
    transition: ease-in 200ms;
}
/*Properties for Burger Drop Down Menu*/
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 4px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
}
/*–––––––––––––––––––––––––GRID COMPONENT 2 - CONTENT–––––––––––––––––––––––––*/
/*Styling for the Background of the Content Section*/
.content {
    min-height: 80vh;
    grid-area: content;
    overflow: hidden;
    margin-left: 7%;
    margin-right: 7%;
}
/*Styling for the Text of the Content Section*/
.contentText {
    font-family: "Raleway", sans-serif;
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: 30px;
    text-align: center;
    color: #505050;
}
.contentText-2 {
    font-family: "Raleway", sans-serif;
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: 30px;
    text-align: center;
    color: #505050;
    margin-bottom: 30px;
    margin-top: 30px;
}
.contentText-3 {
    font-family: "Raleway", sans-serif;
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: 30px;
    text-align: center;
    color: #505050;
    margin-bottom: 30px;
    margin-top: 10px;
}
.contentText a {
    text-decoration: underline;
    color: #686868;
}
.contentText a:hover {
    color: #404040;
    transition: ease-in 200ms;
}
.innerText {
    font-size: 15pt;
    color: #686868;
    margin-right: 10%;
    margin-left: 10%;
    text-align: justify;
}
/* Resume Stuff */
.experience-box {
    border-style: dotted;
    border-color: #c4c4c4;
    background-color: #fafafa;
    width: auto;
    height: auto;
    padding: 0.75em;
    font-family: "Raleway", sans-serif;
    margin-bottom: 2em;
}
.title {
    color: black;
    font-size: 20px;
    font-family: "Raleway", serif;
    font-weight: bold;
    letter-spacing: 1px;
}
.location {
    color: #505050;
    font-size: 16px;
    font-family: "Raleway", serif;
}
.description {
    color: #686868;
    font-size: 16px;
    font-family: "Raleway", serif;
    padding: 0.3em;
}
/*–––––––––––––––––––––––––GRID COMPONENT 3 - FOOTER–––––––––––––––––––––––––*/
.footer {
    grid-area: footer;
    justify-content: center;
    line-height: 30px;
    font-family: "Raleway", sans-serif;
    align-items: center;
    text-align: center;
}
/*Properties for Copyright Information*/
.name {
    color: #505050;
    font-size: 14px;
}
/*Properties for all Contact Information in the Footer*/
.contact {
    color: #505050;
    font-size: 14px;
}

.contact a {
    text-align: center;
    color: #505050;
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}
/*–––––––––––––––––––––––––MEDIA SCREEN ADAPTATION–––––––––––––––––––––––––*/
/*Adjustments to Ensure Content Does Not Overlap*/
@media screen and (max-width: 1024px) {
    .logo {
        margin-left: 0.25em;
    }
    .nav-links {
        display: flex;
        justify-content: space-around;
        width: 50%;
        z-index: 1000;
    }
    .contentText-3 {
        font-family: "Raleway", sans-serif;
        font-weight: lighter;
        letter-spacing: 1px;
        font-size: 26px;
        text-align: center;
        color: #505050;
        margin-bottom: 30px;
        margin-top: 20px;
    }
}
/*Tablet Screen Adjustments*/
@media screen and (max-width: 1024px) {
    body, html {
        overflow-x: hidden;
    }
    .logo {
        margin-left: 0.25em;
    }
    .nav-links{
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        background-color: #fafafa;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translateX(100%);
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
        z-index: 1000;
    }
    .content {
        min-height: 80vh;
    }
    .contentText {
        font-size: 25px;
        font-family: "Raleway", sans-serif;
        letter-spacing: 1px;
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
    }
    .contentText-2 {
        font-family: "Raleway", sans-serif;
        font-weight: lighter;
        letter-spacing: 1px;
        font-size: 25px;
        text-align: center;
        color: #505050;
        margin-bottom: 15px;
    }
    .contentText-3 {
        font-family: "Raleway", sans-serif;
        font-weight: lighter;
        letter-spacing: 1px;
        font-size: 25px;
        text-align: center;
        color: #505050;
        margin-bottom: 15px;
        margin-top: 5px;
    }
    .innerText {
        font-size: 13pt;
        letter-spacing: normal;
        margin-right: 5%;
        margin-left: 5%;
        text-align: left;
    }
    /* Resume Stuff */
    .experience-box {
        border-style: dotted;
        border-color: #c4c4c4;
        background-color: #fafafa;
        width: auto;
        height: auto;
        padding: 0.4em;
        font-family: "Raleway", sans-serif;
        margin-bottom: 1em;
    }
    .title {
        color: black;
        font-size: 16px;
        font-family: "Raleway", serif;
        font-weight: bold;
        letter-spacing: 0.5px;
    }
    .location {
        color: #505050;
        font-size: 13px;
        font-family: "Raleway", serif;
    }
    .description {
        color: #686868;
        font-size: 13px;
        font-family: "Raleway", serif;
        padding: 0.3em;
    }
}

/*Mobile Screen Adjustments*/
@media screen and (max-width: 420px) {
    body, html {
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        background-color: #fafafa;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translateX(100%);
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
    .content {
        min-height: 80vh;
    }
    .contentText {
        font-size: 18px;
        font-family: "Raleway", sans-serif;
        letter-spacing: normal;
        text-align: center;
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 1px;
    }
    .contentText-2 {
        font-family: "Raleway", sans-serif;
        font-weight: lighter;
        letter-spacing: 1px;
        font-size: 18px;
        text-align: center;
        color: #505050;
        margin-bottom: 15px;
    }
    .contentText-3 {
        font-family: "Raleway", sans-serif;
        font-weight: lighter;
        letter-spacing: 1px;
        font-size: 18px;
        text-align: center;
        color: #505050;
        margin-bottom: 15px;
        margin-top: 5px;
    }
    .innerText {
        font-size: 12px;
        letter-spacing: normal;
        margin-right: 5%;
        margin-left: 5%;
        text-align: left;
    }
    .name {
        color: #505050;
        font-size: 11px;
    }
    .contact {
        color: #505050;
        font-size: 11px;
    }
    /* Resume Stuff */
    .experience-box {
        border-style: dotted;
        border-color: #c4c4c4;
        background-color: #fafafa;
        width: auto;
        height: auto;
        padding: 0.4em;
        font-family: "Raleway", sans-serif;
        margin-bottom: 1em;
    }
    .title {
        color: black;
        font-size: 10px;
        font-family: "Raleway", serif;
        font-weight: bold;
        letter-spacing: 0.5px;
    }
    .location {
        color: #505050;
        font-size: 9.5px;
        font-family: "Raleway", serif;
    }
    .description {
        color: #686868;
        font-size: 9.5px;
        font-family: "Raleway", serif;
        padding: 0.3em;
    }
}

/*–––––––––––––––––––––––––JAVASCRIPT REQUIREMENTS FOR ANIMATION OF BURGER MENU–––––––––––––––––––––––––*/
.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 8px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -8px);
}
